@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");


/* misc */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(213, 169, 178,0.5);
}

.alert{
  height: 10px;
  margin: 20px auto;
}

.alert-text{
    font-size: 14px;

}

.text{
  cursor: pointer;
}

.text-und{
  text-decoration:line-through red 1px;


}

.danger{
    color: red;
}
.success{
    color: green;
}

.main-title {
  font-family: "Lato", sans-serif;
}


/* main container */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding-top: 20px;
    width: 100%;
  
}

/* btns */

.submit-btn {
  margin: 10px;
  padding: 4px 10px;
  cursor: pointer;
  color: rgb(12, 5, 5);
  background-color: rgb(108, 218, 126);
  border: 1px solid green;
  border-radius: 10%;
}
.clear-btn {
  margin: 10px;
  padding: 4px 10px;
  cursor: pointer;
  color: rgb(12, 5, 5);
  background-color: rgb(252, 5, 5);
  border: 1px solid rgb(252, 33, 9);

}

.submit-btn:hover {
  background-color: rgb(13, 240, 51);
  border-radius: 10%;
}
.clear-btn:hover {
  background-color: rgb(13, 240, 51);
  border-radius: 10%;
}

/* form */
.input{
    padding:12px;
}

.form{
    margin-bottom: 20px;

}


/* list all */

.list-all{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* list part */

.list-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    width: 100%;
    margin: 10px auto;
}
.btn-section{
    margin-left: 30px;

}

.del-btn{
    margin-left: 20px;


}
.mark-btn{
  margin-right: 100px;
}

.del-btn,.edit-btn,.mark-btn{
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.del-btn:hover,.edit-btn:hover{
    color: red;
}

/* status */

select{
  padding: 5px;
  /* color: black; */
  margin-bottom: 10px;
  cursor: pointer;
}